parameters:
	ignoreErrors:
		-
			message: "#^Method Joomla\\\\Utilities\\\\ArrayHelper\\:\\:arrayFromObject\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/ArrayHelper.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/ArrayHelper.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: src/ArrayHelper.php

		-
			message: "#^Strict comparison using \\=\\=\\= between string and null will always evaluate to false\\.$#"
			count: 1
			path: src/ArrayHelper.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 2
			path: src/ArrayHelper.php

		-
			message: "#^Variable \\$caseSensitive might not be defined\\.$#"
			count: 1
			path: src/ArrayHelper.php

		-
			message: "#^Variable \\$colName in isset\\(\\) always exists and is not nullable\\.$#"
			count: 2
			path: src/ArrayHelper.php

		-
			message: "#^Variable \\$direction might not be defined\\.$#"
			count: 2
			path: src/ArrayHelper.php

		-
			message: "#^Variable \\$locale might not be defined\\.$#"
			count: 2
			path: src/ArrayHelper.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, float given\\.$#"
			count: 2
			path: src/IpHelper.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, float\\|string given\\.$#"
			count: 2
			path: src/IpHelper.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, string given\\.$#"
			count: 2
			path: src/IpHelper.php

		-
			message: "#^Ternary operator condition is always false\\.$#"
			count: 1
			path: src/IpHelper.php

		-
			message: "#^Variable \\$_SERVER in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/IpHelper.php

		-
			message: "#^Variable \\$netmask might not be defined\\.$#"
			count: 1
			path: src/IpHelper.php
